<!-- 模态框（Modal） -->
<div class="modal fade" id="create_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">
                    创建机房
                </h4>
            </div>
            <div class="modal-body">
                <p>机房名： <input type="text" id="create_name" value=""></p>
                <p>地址： <input type="text" id="create_address" value=""></p>
                <p>备注： <input type="text" id="create_remark" value=""></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button id="create_btn" type="button" class="btn btn-primary">提交更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- 模态框（Modal） -->
<div class="modal fade" id="edit_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">
                    修改机房
                </h4>
            </div>
            <div class="modal-body">
                <div class="col-sm-8">
                    <p>ID： <input type="text" id="edit_id" value="" readonly="readonly" class="form-control needinputsingle"></p>
                </div>
                <div class="col-sm-8">
                    <p>机房名： <input type="text" id="edit_name" value=""></p>
                </div>
                <div class="col-sm-8">
                    <p>地址： <input type="text" id="edit_address" value=""></p>
                </div>
                <div class="col-sm-8">
                    <p>备注： <input type="text" id="edit_remark" value=""></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button id="edit_btn" type="button" class="btn btn-primary">提交更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->
