{% extends 'base.html' %}
{% block content %}

{% include 'cmdb/modal_vms.html' %}

<section class="content-header">
        <div>
             <ol class="breadcrumb">
                 <li><a href="/cmdb/dashboard/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                 <li class="active">虚拟机</li>
             </ol>
        </div>
</section>

<div style="margin-bottom: 20px" class="col-md-12">
    <p></p>
    <div class="col-md-4">
    <button id='btn-create' class="btn btn-primary">新增</button>
    </div>

    <div class="col-md-4">
            <div class="input-group">
                <input id="search" type="text" class="form-control" placeholder="主机名或IP地址">
                <span class="input-group-btn">
                    <button id="search_btn" class="btn btn-default" type="button">搜索</button>
                </span>
            </div>
    </div>
</div>

    <div class="row">
        <div class="col-md-6">
        <table class="table table-striped">
            <thead>
                <td>ID</td>
                <td>主机名</td>
                <td>所属宿主机</td>
                <td>CPU</td>
                <td>内存</td>
                <td>磁盘</td>
                <td>IP地址</td>
                <td>系统类型</td>
                <td>采集信息</td>
                <td>运行状态</td>
                <td>备注</td>
                <td>操作</td>
            </thead>
            <tbody>
                {% for obj in paginator_data.object_list %}
                    <tr>
                        <td><a href="/cmdb/vms/{{ obj.id }}">{{ obj.id }}</a> </td>
                        <td>{{ obj.name }} </td>
                        <td>{{ obj.server.name }} </td>
                        <td>{{ obj.cpu }} </td>
                        <td>{{ obj.memory }} </td>
                        <td>{{ obj.disk }} </td>
                        <td>{{ obj.ip }} </td>
                        <td>{{ obj.daq }} </td>
                        <td>{{ obj.status }} </td>
                        <td>{{ obj.remark }} </td>
                        <td>
                            <button class="btn btn-danger btn_delete" obj-id="{{ obj.id }}" >删除</button>
                            <button class="btn btn-default btn-put" obj-id="{{ obj.id }}">修改</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>


<div>
    {%  if paginator_data.has_previous %}
        <a class="paginator" href="?page={{ paginator_data.previous_page_number }}&search={{ search }}"><span>上一页</span></a>
    {%  endif %}

    {% for page in paginator_data.paginator.page_range %}
        {% if paginator_data.number == page %}
            <span id="current_page" >{{ page }}</span>
        {% else %}
            <a class="paginator" href="?page={{ page }}&search={{ search }}" title="{{ page }}"><span>{{ page }}</span></a>
        {% endif %}
    {% endfor %}
    {% if paginator_data.has_next %}
        <a class="paginator" href="?page={{ paginator_data.next_page_number }}&search={{ search }}"><span>下一页</span></a>
    {% endif %}

</div>

<script>
    //给create_server_id,edit_server_id赋option
    $.ajax({
            type: 'GET',
            url: '/cmdb/api_servers/',
            data: {},
            dataType: "json",
            success: function(result){
                data = result.data
                option='<option> </option>'
                $('#create_server_id').append(option)
                for (server of data){
                    option = '<option id=' + server.id + '>' + server.name + '</option>'
                    $('#create_server_id').append(option)
                    $('#edit_server_id').append(option)
                }
            },
            error: function(){
            },
         })
    //点击创建，弹出模态框
    $('#btn-create').click(function () {
        $('#create_modal').modal()
    })
    //点击模态框提交按钮，发送数据到后端
    $('#create_btn').click(function () {
        name = $('#create_name').val()
        server_id=$('#create_server_id option:selected').attr('id')
        cpu = $('#create_cpu').val()
        memory = $('#create_memory').val()
        disk = $('#create_disk').val()
        ip = $('#create_ip').val()
        OS_type = $('#create_os').val()
        status = $('#create_status').val()
        remark = $('#create_remark').val()
        data = {server_id:server_id,name:name,cpu:cpu,memory:memory,disk:disk,ip:ip,OS_type:OS_type,status:status,remark:remark}
        console.log(data)
        $.ajax({
            type: 'POST',
            url: '/cmdb/vms/',
            data: data,  // 前端传给后端的数据
            dataType: "json",
            success: function(result){
                console.log(result)
                location.reload()

            },
            error: function(){

            },
         })
    })
    //点击修改，弹出模态框，并发送IDC和对应rack数据,并且列出该IDC所有rack,还有server数据到前端
    $('.btn-put').click(function () {
        $('#edit_modal').modal()
        id = $(this).attr('obj-id')
        $.ajax({
            type: 'GET',
            url: '/cmdb/api_vms/'+id,
            data: {},  // 前端传给后端的数据
            dataType: "json",
            success: function(result){
                console.log(result)
                server_name = result.server.name
                name = result.name
                cpu = result.cpu
                memory = result.memory
                disk = result.disk
                ip = result.ip
                OS_type = result.OS_type
                status = result.status
                remark = result.remark
                $('#edit_server_id').attr('value',server_name)
                $('#edit_id').val(id)
                $('#edit_name').val(name)
                $('#edit_cpu').val(cpu)
                $('#edit_memory').val(memory)
                $('#edit_disk').val(disk)
                $('#edit_ip').val(ip)
                $('#edit_os').val(OS_type)
                $('#edit_status').val(status)
                $('#edit_remark').val(remark)
            },
            error: function(){
            },
         })
    })
    //点击模态框提交按钮，发送数据到后端
    $('#edit_btn').click(function () {
        name = $('#edit_name').val()
        cpu = $('#edit_cpu').val()
        memory = $('#edit_memory').val()
        disk = $('#edit_disk').val()
        ip = $('#edit_ip').val()
        OS_type = $('#edit_os').val()
        status = $('#edit_status').val()
        remark = $('#edit_remark').val()
        id = $('#edit_id').val()
        server_id = $('#edit_server_id option:selected').attr('id')
        data = {server_id:server_id,name:name,cpu:cpu,memory:memory,disk:disk,ip:ip,OS_type:OS_type,status:status,remark:remark}

        $.ajax({
            type: 'PUT',
            url: '/cmdb/vms/'+id,
            data: data,  // 前端传给后端的数据
            dataType: "json",
            success: function(result){
                console.log(result)
                location.reload()

            },
            error: function(){

            },
         })
    })
    //点击删除
    $('.btn_delete').click(function () {
        id = $(this).attr('obj-id')
        data = {}
        $.ajax({
            type: 'DELETE',
            url: '/cmdb/vms/'+id,
            data: data,  // 前端传给后端的数据
            dataType: "json",
            success: function(result){
                console.log(result)
                location.reload()

            },
            error: function(){

            },
         })
    })

    $('#search_btn').click(function () {
            var search = $('#search').val()
            window.location.href = "/cmdb/vms/?search=" + search
    })

</script>

{% endblock %}