{% extends "base.html" %}
{% block content %}

  <div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div>
             <ol class="breadcrumb">
                 <li><a href="/cmdb/dashboard/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                 <li class="active">Dashboard</li>
             </ol>
        </div>
    </section>

    <!-- Main content -->
    <section>
      <!-- Info boxes -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-google-plus"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">数据中心</span>
              <span id="idcs_count" class="info-box-number"></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">

            <div class="info-box-content">
              <span class="info-box-text">机柜</span>
              <span id="racks_count" class="info-box-number"></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">

            <div class="info-box-content">
              <span class="info-box-text">物理服务器</span>
              <span id="servers_count" class="info-box-number"></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">

            <div class="info-box-content">
              <span class="info-box-text">虚拟机</span>
              <span id="vms_count" class="info-box-number"></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>

      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">数据报告</h3>


            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                <div class="col-md-8">
                  <p class="text-center">
                    <strong>数据中心服务器占比</strong>
                  </p>

                  <div>
                      <div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
                  </div>
                  <!-- /.chart-responsive -->
                </div>
                <!-- /.col -->
                <div class="col-md-4">
                  <p class="text-center">
                    <strong>机房使用率</strong>
                  </p>
                    <div id="site">
                        <!--
                      <div class="progress-group">
                        <span class="progress-text">Add Products to Cart</span>
                        <span class="progress-number"><b>160</b>/200</span>

                        <div class="progress sm">
                          <div class="progress-bar progress-bar-aqua" style="width: 80%"></div>
                        </div>
                      </div>
                        -->
                    </div>

                  <!-- /.progress-group -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- ./box-body -->
            <div class="box-footer">
              <div class="row">
                <div class="col-sm-3 col-xs-6">
                  <div class="description-block border-right">
                    <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 17%</span>
                    <h5 class="description-header">$35,210.43</h5>
                    <span class="description-text">TOTAL REVENUE</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3 col-xs-6">
                  <div class="description-block border-right">
                    <span class="description-percentage text-yellow"><i class="fa fa-caret-left"></i> 0%</span>
                    <h5 class="description-header">$10,390.90</h5>
                    <span class="description-text">TOTAL COST</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3 col-xs-6">
                  <div class="description-block border-right">
                    <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 20%</span>
                    <h5 class="description-header">$24,813.53</h5>
                    <span class="description-text">TOTAL PROFIT</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3 col-xs-6">
                  <div class="description-block">
                    <span class="description-percentage text-red"><i class="fa fa-caret-down"></i> 18%</span>
                    <h5 class="description-header">1200</h5>
                    <span class="description-text">GOAL COMPLETIONS</span>
                  </div>
                  <!-- /.description-block -->
                </div>
              </div>
              <!-- /.row -->
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>


    <script>
        function test1 (idc_servers) {
           chart = new Highcharts.Chart({
                //常规图表选项设置
                chart: {
                    renderTo: "container",        //在哪个区域呈现，对应HTML中的一个元素ID
                    plotBackgroundColor: null,    //绘图区的背景颜色
                    plotBorderWidth: null,        //绘图区边框宽度
                    plotShadow: false            //绘图区是否显示阴影
                },

                //图表的主标题
                title: {
                    text: "数据中心服务器占比"
                },
                //当鼠标经过时的提示设置
                tooltip: {
                          formatter: function() {
                            return '<b>'+ this.point.name +'</b>: '+ Highcharts.numberFormat(this.percentage, 1) +'% ('+Highcharts.numberFormat(this.y, 0, ',') +' 个)';
                            }
                },
                //每种图表类型属性设置
                plotOptions: {
                    //饼状图
                    pie: {
                        allowPointSelect: true,
                        cursor: "pointer",
                        dataLabels: {
                            enabled: true,
                            color: "#000000",
                            connectorColor: "#000000",
                            formatter: function() {
                                //Highcharts.numberFormat(this.percentage,2)格式化数字，保留2位精度
                                return "<b>"+ this.point.name +"</b>: "+Highcharts.numberFormat(this.percentage,2) +" %";
                            }
                        }
                    }
                },
                   //图表要展现的数据
                series: [{
                    type: "pie",
                    name: "市场份额",
                    data: idc_servers
                    }]
            });
        }

        function GetPercent(num, total) {
            num = parseFloat(num);
            total = parseFloat(total);
            if (isNaN(num) || isNaN(total)) {
                return "-";
            }
            return total <= 0 ? "0%" : (Math.round(num / total * 10000) / 100.00)+"%";
        }

        $.ajax({
            type: 'GET',
            url: '/cmdb/api_dashboard/',
            data: {},  // 前端传给后端的数据
            dataType: "json",
            success: function(result){
                console.log(result)
                //第一块 数量总计
                idcs = result.count.idcs
                racks = result.count.racks
                servers = result.count.servers
                vms = result.count.vms
                $('#idcs_count').text(idcs)
                $('#racks_count').text(racks)
                $('#servers_count').text(servers)
                $('#vms_count').text(vms)
                //第二块 使用率
                site = result.site
                html_site = ''
                for (obj of site) {
                    percent = GetPercent(obj.size,obj.total_size)
                    html = '<div class="progress-group">' +
                        '<span class="progress-text">' + obj.name + '</span>' +
                        '<span class="progress-number"><b>' + obj.size + '</b>' + '/'+obj.total_size +'</span>' +
                        '<div class="progress sm">'+
                        '<div class="progress-bar progress-bar-aqua" style="width:'+ percent +'"></div>' +
                        '</div>'+
                        '</div>'
                    html_site += html
                }
                $('#site').html(html_site)
                //第三块 饼图
                idc_servers = result.idc_servers
                test1(idc_servers)
            },
            error: function(){

            },
         })
    </script>

{% endblock %}





